{# show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du Projet{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0"><i class="fas fa-project-diagram me-2"></i>Détails du Projet</h4>
                <div>
                    <a href="{{ path('app_project_index') }}" class="btn btn-light btn-sm me-2">
                        <i class="fas fa-list me-1"></i>Liste des Projets
                    </a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn btn-warning btn-sm me-2">
                        <i class="fas fa-edit me-1"></i>Éditer
                    </a>
                    {{ include('project/_delete_form.html.twig') }}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 30%;">ID</th>
                            <td>{{ project.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{ project.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ project.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Créé le</th>
                            <td>{{ project.createdAt ? project.createdAt|date('d/m/Y H:i') : 'N/A' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Limite</th>
                            <td>{{ project.daedline ? project.daedline|date('d/m/Y') : 'N/A' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
